[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "custom_nodes/ComfyUI_Custom_Nodes_AlekPet"]
	path = custom_nodes/ComfyUI_Custom_Nodes_AlekPet
	url = https://github.com/AlekPet/ComfyUI_Custom_Nodes_AlekPet.git
